<main class="form-signin">
    <h2>Green Koncepts</h2>
    <form [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <label for="inputEmail" class="visually-hidden">User Name</label>
      <input type="email" id="userName" class="form-control" placeholder="User Name" formControlName="username" required autofocus>
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required formControlName="password">
      <span *ngIf="!loginForm.password"></span>
      <button class="w-100 btn btn-lg btn-primary" [disabled]="!loginForm.valid" (click)="login()" type="submit">Sign in</button>
      <h4>{{message}}</h4>
    </form>
  </main>